<div class="facts">
<%= image_tag("Bent.jpg", :size => '600x300')%>
</div>
<div class="facts1">
    <h1>Bent Molecular Shape</h1>
    <p class="words">The bond angle for a bent shape roughly 105°. Water(H2O) is an examples of a bent molecule. Molecules with this shape are polar and shair at least two pairs of electrons while also having at least one lone pair of electrons on the central atom.</p>
</div>

