<div class="facts">
<%= image_tag("Bent.jpg", :size => '600x300')%>
</div>
<div class="facts1">
    <h1>Bent Molecular Shape</h1>
    <p class="words">The bond angle for a bent shape roughly 105°. Water(H2O) is an examples of a bent molecule. Molecules with this shape are polar and share at least two pairs of electrons with the central atom. They also have at least one lone pair of electrons on the central atom.The electrons push the atoms slightly more than another atom would, creating a narrower bond angle between the atoms in the bent shape than in the linear shape.</p>
    <%= link_to "Home", root_path, class:"btn btn-primary"%>
</div>


