<div class="facts">
<%= image_tag("Linear.jpg", :size => '600x300')%>
</div>
<div class="facts1">
    <h1>Linear Molecular Shape</h1>
    <p class="words">The bond angle for a Linear Molecular shape is 180°. CO2 and O2 are two examples of linear molecules. Molecules with this shape are non-polar and shair at least one pair of electrons.</p>
    <%= link_to "Home", root_path, class:"btn btn-primary"%>
</div>


