<div class="facts">
<%= image_tag("Pyramidal.jpg", :size => '600x300')%>
</div>
<div class="facts1">
    <h1>Trigonal Pyramidal Molecular Shape</h1>
    <p class="words">The bond angle for a trigonal pyramidal shape is roughly 107°. Ammonia(NH3) is an example of a trigonal pyramidal molecule. Molecules with this shape are polar and shair at three pairs of electrons while also having at least one lone pair of electrons on the central atom.</p>
</div>

