<div class="facts">
<%= image_tag("Pyramidal.jpg", :size => '600x300')%>
</div>
<div class="facts1">
    <h1>Trigonal Pyramidal Molecular Shape</h1>
    <p class="words">The bond angle for a trigonal pyramidal shape is roughly 107°. Ammonia(NH3) is an example of a trigonal pyramidal molecule. Molecules with this shape are polar and share at three pairs of electrons with the central atom. They also have at least one lone pair of electrons on the central atom. The electrons push the atoms slightly more than another atom would, creating a slighly narrower bond angle between the atoms in the trigonal pyramidal than in the tetrahedral.</p>
    <%= link_to "Home", root_path, class:"btn btn-primary"%>
</div>

