<div class="facts">
<%= image_tag("Tetrahedral.jpg", :size => '600x300')%>
</div>
<div class="facts1">
    <h1>Tetrahedral Molecular Shape</h1>
    <p class="words">The bond angle for a Tetrahedral Molecular shape is 109.5°. Methane(CH4) in an example of Tetrahedral shaped molecule. Molecules with this shape are non-polar and shair at least four pairs of electrons.</p>
</div>


