<div class="facts">
<%= image_tag("Trigonal.jpg", :size => '600x300')%>
</div>
<div class=facts1>
    <h1>Trigonal Planer Molecular Shape</h1>
    <p class="words">The bond angle for a Trigonal planar shape is 120°. Boron Trifloride(BF3) is an examples of a Trigonal Planer molecule. Molecules with this shape are non-polar and shair at three pairs of electrons.</p>
</div>


